<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700&display=swap"><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.12.7/css/main-style.css?t=20200730030701"><link rel="stylesheet" href="{{ 'pagefly.5e794cbc.scss.css' | asset_url }}">
		  <div class="__pf" id="__pf"><div data-pf-type="Body" class="sc-pRgDJ fzXWJx pf-74feb1e4"><div data-pf-type="Layout" class="pf-cc0e5cd8"><div data-container="true" class="sc-pZopv bjKdkd pf-a1ca1ed1 pf-bg-lazy" data-pf-type="Section"><div style="max-width: 1170px;" class="sc-pQQXS iWCqut"><div class="sc-qPjXN eYzxUD pf-0e5cd884 pf-r pf-r-eh" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;" data-pf-type="Row"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-5cd88401" data-pf-type="Column"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-d8840141"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-f40dcde2"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-01417dcc">Find Your Shade</span></h3></div></div></div></div><div class="sc-qPjXN eYzxUD pf-118f0c7f pf-r pf-r-eh" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;" data-pf-type="Row"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--3 pf-c-md--3 pf-c-lg--3"><div class="sc-pkUyL fTyjzF pf-417dccf9" data-pf-type="Column"></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-7dccf9af" data-pf-type="Column"><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-98f0118f"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-f9af49b3">Need help selecting the right shade? That's easy. Choose the shade that most closely matches your natural hair color — before any gray started making itself at home.
</span></p></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--3 pf-c-md--3 pf-c-lg--3"><div class="sc-pkUyL fTyjzF pf-af49b322" data-pf-type="Column"></div></div></div><div class="sc-qPjXN eYzxUD pf-dca1ca1e pf-r pf-r-align--cm" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;" data-pf-type="Row"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-49b3222c" data-pf-type="Column"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-cba43009"><div mode="view" id="find_shade_tabs" data-pf-type="Tabs2" class="sc-pCOPB fhcpFs pf-8f2549fc"><div data-pf-type="TabsMenu" class="sc-pcZmk fLYRsF pf-b3222cec"><button type="button" data-pf-tab-active="false" class="sc-pTHXP iPjCUf pf-a5d76492 pf-anchor" data-pf-type="TabHeader"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-2cec7a53">AUBURN</span></button><button type="button" data-pf-tab-active="false" class="sc-pTHXP iPjCUf pf-e7b1baba pf-anchor" data-pf-type="TabHeader"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-7a5337dd">DIRTY BLOND</span></button><button type="button" data-pf-tab-active="false" class="sc-pTHXP iPjCUf pf-5b2051e0 pf-anchor" data-pf-type="TabHeader"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-37dd50ad">LIGHT BROWN</span></button><button type="button" data-pf-tab-active="false" class="sc-pTHXP iPjCUf pf-36f130fe pf-anchor" data-pf-type="TabHeader"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-50ada3c0">MEDIUM BROWN</span></button><button type="button" data-pf-tab-active="false" class="sc-pTHXP iPjCUf pf-0db46e2f pf-anchor" data-pf-type="TabHeader"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-a3c01060">DARK BROWN</span></button><button type="button" data-pf-tab-active="false" class="sc-pTHXP iPjCUf pf-71ef8f62 pf-anchor" id="tab_header" data-pf-type="TabHeader"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-1060ac50">BROWN BLACK</span></button><button type="button" data-pf-tab-active="true" class="sc-pTHXP iPjCUf pf-77474359 pf-anchor" data-pf-type="TabHeader"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-ac509324">TRUE BLACK</span></button></div><div data-pf-type="TabContentWrapper" class="sc-pKLCU LdczL pf-ef8f2549"><div data-pf-type="TabsContent" class="sc-qbELi eXHXkH pf-879e79ee"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-1f739ce3"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-9324f9a9">AUBURN</span></h3><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-83879e79"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-f9a9f48f">The Auburn shade is perfect for fiery gingers, strawberry blondes, and everyone in between. This shade mixes warm reds and bright golds for a true-to-life auburn hue.</span></p></div><div data-pf-type="TabsContent" class="sc-qbELi eXHXkH pf-946641d8"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-dcf97053"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-f48fe120">DIRTY BLOND</span></h3><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-13946641"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-e12008e5">The Dirty Blond shade will work equally well for surfers and vikings; we let you stay ‘dirty’ by allowing a mix of shades to show through. Started off blond and darkened with age? Consider Light Brown instead.</span></p></div><div data-pf-type="TabsContent" class="sc-qbELi eXHXkH pf-e30a5aa1"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-01bd3ed9"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-08e59b9b">Light brown</span></h3><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-dae30a5a"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-9b9ba057">The Light Brown shade accentuates the lighter blond tones of your hair while keeping the brown tones below looking natural and authentic. Perfect for anyone who rocked blond hair in their glory days.</span></p></div><div data-pf-type="TabsContent" class="sc-qbELi eXHXkH pf-55e115fe"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-f2a2077d"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-a0570c70">MEDIUM BROWN</span></h3><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-2155e115"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-0c704e79">Medium brown is a mix of cool earth tones for guys who have rich, milk-chocolate tones. This shade is a solid golden brown that isn’t too dark.</span></p></div><div data-pf-type="TabsContent" class="sc-qbELi eXHXkH pf-4d8b54d1"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-5891f8c1"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-4e7918e1">Dark Brown</span></h3><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-d74d8b54"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-18e1f472">The Dark Brown shade is used by largest number of guys. Light skin and very dark hair? Most caucasian men find this to be the darkest shade that they need.</span></p></div><div data-pf-type="TabsContent" class="sc-qbELi eXHXkH pf-162767d1"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-dc18bea8"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-f47223e1">BROWN BLACK</span></h3><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-6a162767"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-23e1083c">If you have very dark hair, Brown Black could be your shade. Look at at your hair after spending time in the sun; if you can see even the faintest flecks of gold in your dark hair, you’re probably Brown Black, not True Black.</span></p></div><div data-pf-type="TabsContent" class="sc-qbELi eXHXkH pf-9def8f25"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-072de7db"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-083c337a">True Black</span></h3><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-509def8f"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-337a6e82">The True Black shade is best for dark-haired, Latin, Asian, Middle Eastern, Black, or Black Irish men. If you have any hints brown in your hair, go for Brown Black instead.</span></p></div></div></div><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-563b9bb5"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-6e82a658">Ready to dye like a man?</span></h3><a href="/pages/get-started" target="_self" data-pf-type="Button" class="sc-pZdvY kuwSuz pf-0fcba430 pf-bg-lazy"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-a6587b33">ADD TO CART</span></a></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-587b33af" data-pf-type="Column"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-ebdca1ca"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-7b33afbe"><div class="container main_slider">
  <div class="row">
    <div class="col-sm-6">
      <div class="homeSlider">
        <div class="active item">
          <img class="img1" src="https://cdn.shopify.com/s/files/1/1600/5339/files/29A9137_1_1.jpg?v=1583267993">
        </div>
        <div class="item">
          <img class="img2" src="https://cdn.shopify.com/s/files/1/1600/5339/files/29A9032_1.jpg?v=1583268012">
        </div>
        <div class="item">
          <img class="img3" src="https://cdn.shopify.com/s/files/1/1600/5339/files/29A9036_1.jpg?v=1583268023">
        </div>
        <div class="item">
          <img class="img4" src="https://cdn.shopify.com/s/files/1/1600/5339/files/11111_e310c7d3-37e5-4a89-a928-2feef40a1741.jpg?v=1583269081">
        </div>
      </div>
      <div class="homeSliderNav">
        <div>
          <img class="img1" src="https://cdn.shopify.com/s/files/1/1600/5339/files/29A9137_1_1.jpg?v=1583267993">
        </div>
        <div>
          <img class="img2" src="https://cdn.shopify.com/s/files/1/1600/5339/files/29A9032_1.jpg?v=1583268012">
        </div>
        <div>
          <img class="img3" src="https://cdn.shopify.com/s/files/1/1600/5339/files/29A9036_1.jpg?v=1583268023">
        </div>
        <div>
          <img class="img4" src="https://cdn.shopify.com/s/files/1/1600/5339/files/11111_e310c7d3-37e5-4a89-a928-2feef40a1741.jpg?v=1583269081">
        </div>
      </div>
    </div>
  </div>
</div></div></div></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-dc75a0d8" id="" data-pf-type="Section"><div style="max-width: 1170px;" class="sc-pQQXS iWCqut"><div class="sc-qPjXN eYzxUD pf-35df940b pf-r pf-r-eh" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;" id="drop_row" data-pf-type="Row"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-a0d82115" id="find_match_col" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-66f8a4ac"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-9bdd66f8">Find Your True Match: </span></h3><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-9bd92035"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-4cf19bd9">Select the hair dye you are currently using and we will find you a True Match </span></p><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-203518ed"><div class="my_dropdown">
  <a data-id="dirty_blond" href="#" class="js-link">Select the shade <i class="fa fa-chevron-down"></i></a>
  <ul class="js-dropdown-list">
    <li class="dirty_blond">Just For Men Moustache & Beard Blond M-10/15</li>
    <li class="dirty_blond">Sandy Blond A-10 | Dark Blond A-15</li>
    <li class="dirty_blond">Just For Men Auto Shop Sandy Blond H-10 | Darkest Blond | Lightest Brown H-15</li>
     <li class="dirty_blond">Just For Men Original Formula Sandy Blond H-10 | Darkest Blond | Lightest Brown H-15 </li>
    <li class="dirty_blond">Redken Color Camo Light Natural | Light Ash</li>
	<li class="light_brown">Just For Men Moustache & Beard Light Brown M-25 | Medium Brown M-30</li>
	<li class="light_brown">Just For Men Touch of Grey Light & Medium Brown B-25/35</li>
	<li class="light_brown">Just For Men Auto Shop Light Brown A-25 | Light - Medium Brown A-30</li>
	<li class="light_brown">Just For Men Original Formula Dark Blond - Lightest Brown H-15 | Light Brown H-25 | Ash Brown H-20</li>
	<li class="medium_brown">Just For Men Moustache & Beard Lt.-Med. Brown M-30</li>
	<li class="medium_brown">Just For Men Touch of Grey Light Brown T-25</li>
	<li class="medium_brown">Just For Men Auto Shop Light Brown A-25 | Light - Medium Brown A-30</li>
	<li class="medium_brown">Just For Men Original Formula Ash Brown H-20 | Light Medium Brown H-30</li>
	<li class="medium_brown">Redken Color Camo Medium Natural | Medium Ash</li>
	<li class="dark_brown">Just For Men Moustache & Beard Medium Dark Brown M-40 | Medium Brown M-35</li>
	<li class="dark_brown">Just For Men Touch of Grey Medium Brown T-35</li>
	<li class="dark_brown">Just For Men Auto Shop Medium Brown A-40 | Medium Brown A-35</li>
	<li class="dark_brown">Just For Men Original Formula Medium Brown H-35 | Medium Dark Brown H-40</li>
	<li class="brown_black">Just For Men Moustache & Beard Dark Brown M-45</li>
	<li class="brown_black">Just For Men Touch of Grey Dark Brown T-45</li>
	<li class="brown_black">Just For Men Auto Shop Darkest Brown A-50 | Dark Brown A-45</li>
	<li class="brown_black">Just For Men Original Formula Darkest Brown H-50 | Dark Brown H-47</li>
	<li class="brown_black">Redken Color Camo Dark Natural</li>
	<li class="true_black">Just For Men Moustache & Beard Jet Black M-60 | Real Black M-55 | Rich Dark Brown M-47</li>
	<li class="true_black">Just For Men Touch of Grey Black T-55</li>
	<li class="true_black">Just For Men Auto Shop Jet Black A-60</li>
	<li class="true_black">Just For Men Original Formula Jet Black H-60 | Real Black H-55</li>
  </ul>
</div>

</div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-211535df" id="your_match_col" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-18ed697a"><div class="matching_row">
  <div>
  <p class="match_text">
	Your True Match is
	</p>
  </div>
  <div>
  <img id="match_img" class="review_thumb" src="https://cdn.shopify.com/s/files/1/1600/5339/files/dark_brown.png?v=1591271628">
  </div>
  <p id="change_match" class="match_text">
	Dark Brown
	</p>
</div>

</div></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-8d5e794c pf-bg-lazy" data-pf-type="Section"><div style="max-width: 1170px;" class="sc-pQQXS iWCqut"><div class="sc-qPjXN eYzxUD pf-33afbe6f pf-r pf-r-eh" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;" data-pf-type="Row"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-afbe6fd1" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-80b636a1"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-6fd15027">Before and After</span></h3><div data-sliderx="{'curr':0,'autoPlay':false,'autoPlayDelay':3000,'duration':300,'loop':false,'draggable':true,'paginationStyle':'pagination-style-2','navStyle':'nav-style-3 fa-angle','adaptiveHeight':false,'slidesToShow':{'all':1,'laptop':3,'tablet':1,'mobile':1},'slidesToScroll':{'all':1,'laptop':1,'tablet':1,'mobile':1},'gutter':{'all':20,'laptop':20,'tablet':20,'mobile':20}}" data-pf-type="Slider" class="sc-pYPmd kCAYOZ pf-668d5e79"><div data-pf-type="Carousel" class="sc-pAwOa cSXOEP pf-d1502768"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-c54888ed"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-50276811"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-27681115">
<div style="display: flex; flex-direction:row; justify-content: center;">
  <div>
  <img class="review_thumb" src="https://cdn.shopify.com/s/files/1/1600/5339/files/dark_brown.png?v=1591271628">
  </div>
  
  <div>
  <p style="font-family: 'Neutraface 2 Text';
font-weight: bold;
font-size: 20px;
line-height: 28px;
color: rgb(51, 51, 51);margin-left: 10px;margin-top:15px;">
	Carl
	</p>
  </div>
</div>
<div>
  <p style="font-family: 'Neutraface 2 Text';
font-weight: bold;
font-size: 20px;
line-height: 28px;
color: rgb(51, 51, 51);margin-top:15px;">
	Shade: Dark Brown
	</p>
</div>
</div></div></div><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" data-srcset="https://cdn.shopify.com/s/files/1/1600/5339/t/36/assets/pf-2729d978--review1.png?v=1592005500 1200w, https://cdn.shopify.com/s/files/1/1600/5339/t/36/assets/pf-2729d978--review1_800x388.png?v=1592005500&resized 800w, https://cdn.shopify.com/s/files/1/1600/5339/t/36/assets/pf-2729d978--review1_400x194.png?v=1592005500&resized 400w" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="sc-qZtVr dLIPjF pf-88ed71f1 pf-img-lazy" data-pf-type="Image2"></div><div data-pf-type="Carousel" class="sc-pAwOa cSXOEP pf-68111546"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-406810e9"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-111546d7"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-1546d763">
<div style="display: flex; flex-direction:row; justify-content: center;">
  <div>
<img class="review_thumb" src="https://cdn.shopify.com/s/files/1/1600/5339/files/medium_brown.png?v=1591271597">
  </div>
  
  <div>
  <p style="font-family: 'Neutraface 2 Text';
font-weight: bold;
font-size: 20px;
line-height: 28px;
color: rgb(51, 51, 51);margin-left: 10px;margin-top:15px;">
	Brenner
	</p>
  </div>
</div>
<div>
  <p style="font-family: 'Neutraface 2 Text';
font-weight: bold;
font-size: 20px;
line-height: 28px;
color: rgb(51, 51, 51);margin-top:15px;">
	Shade: Medium Brown
	</p>
</div>
</div></div></div><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" data-srcset="https://cdn.shopify.com/s/files/1/1600/5339/t/36/assets/pf-29d9786f--review2.png?v=1592005504 1200w, https://cdn.shopify.com/s/files/1/1600/5339/t/36/assets/pf-29d9786f--review2_800x388.png?v=1592005504&resized 800w, https://cdn.shopify.com/s/files/1/1600/5339/t/36/assets/pf-29d9786f--review2_400x194.png?v=1592005504&resized 400w" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="sc-qZtVr dLIPjF pf-10e9777a pf-img-lazy" data-pf-type="Image2"></div><div data-pf-type="Carousel" class="sc-pAwOa cSXOEP pf-46d76347"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-acb0c71a"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-d7634728"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-634728e0">
<div style="display: flex; flex-direction:row; justify-content: center;">
  <div>
<img class="review_thumb" src="https://cdn.shopify.com/s/files/1/1600/5339/files/true_black.png?v=1591271659">  </div>
  
  <div>
  <p style="font-family: 'Neutraface 2 Text';
font-weight: bold;
font-size: 20px;
line-height: 28px;
color: rgb(51, 51, 51);margin-left: 10px;margin-top:15px;">
	Keith
	</p>
  </div>
</div>
<div>
  <p style="font-family: 'Neutraface 2 Text';
font-weight: bold;
font-size: 20px;
line-height: 28px;
color: rgb(51, 51, 51);margin-top:15px;">
	Shade: True Black
	</p>
</div>
</div></div></div><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" data-srcset="https://cdn.shopify.com/s/files/1/1600/5339/t/36/assets/pf-d9786fdd--review3.png?v=1592005509 1200w, https://cdn.shopify.com/s/files/1/1600/5339/t/36/assets/pf-d9786fdd--review3_800x388.png?v=1592005509&resized 800w, https://cdn.shopify.com/s/files/1/1600/5339/t/36/assets/pf-d9786fdd--review3_400x194.png?v=1592005509&resized 400w" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="sc-qZtVr dLIPjF pf-c71a24b4 pf-img-lazy" data-pf-type="Image2"></div><div data-pf-type="Carousel" class="sc-pAwOa cSXOEP pf-4728e0be"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-2b3bd521"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-28e0be4f"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-e0be4f9f">
<div style="display: flex; flex-direction:row; justify-content: center;">
  <div>
<img class="review_thumb" src="https://cdn.shopify.com/s/files/1/1600/5339/files/dirty_blond.png?v=1591271427">  </div>
  
  <div>
  <p style="font-family: 'Neutraface 2 Text';
font-weight: bold;
font-size: 20px;
line-height: 28px;
color: rgb(51, 51, 51);margin-left: 10px;margin-top:15px;">
	Jim
	</p>
  </div>
</div>
<div>
  <p style="font-family: 'Neutraface 2 Text';
font-weight: bold;
font-size: 20px;
line-height: 28px;
color: rgb(51, 51, 51);margin-top:15px;">
	Shade: Dirty Blond
	</p>
</div>
</div></div></div><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" data-srcset="https://cdn.shopify.com/s/files/1/1600/5339/t/36/assets/pf-786fdd40--review4.png?v=1592005513 1200w, https://cdn.shopify.com/s/files/1/1600/5339/t/36/assets/pf-786fdd40--review4_800x388.png?v=1592005513&resized 800w, https://cdn.shopify.com/s/files/1/1600/5339/t/36/assets/pf-786fdd40--review4_400x194.png?v=1592005513&resized 400w" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="sc-qZtVr dLIPjF pf-d5217b8d pf-img-lazy" data-pf-type="Image2"></div><div data-pf-type="Carousel" class="sc-pAwOa cSXOEP pf-be4f9f74"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-af039066"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-4f9f74fe"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-9f74feb1">
<div style="display: flex; flex-direction:row; justify-content: center;">
  <div>
  <img class="review_thumb" src="https://cdn.shopify.com/s/files/1/1600/5339/files/dark_brown.png?v=1591271628">
  </div>
  
  <div>
  <p style="font-family: 'Neutraface 2 Text';
font-weight: bold;
font-size: 20px;
line-height: 28px;
color: rgb(51, 51, 51);margin-left: 10px;margin-top:15px;">
	Mehdi
	</p>
  </div>
</div>
<div>
  <p style="font-family: 'Neutraface 2 Text';
font-weight: bold;
font-size: 20px;
line-height: 28px;
color: rgb(51, 51, 51);margin-top:15px;">
	Shade: Brown Black
	</p>
</div>
</div></div></div><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" data-srcset="https://cdn.shopify.com/s/files/1/1600/5339/t/36/assets/pf-6fdd4018--review5.png?v=1592005516 1200w, https://cdn.shopify.com/s/files/1/1600/5339/t/36/assets/pf-6fdd4018--review5_800x388.png?v=1592005516&resized 800w, https://cdn.shopify.com/s/files/1/1600/5339/t/36/assets/pf-6fdd4018--review5_400x194.png?v=1592005516&resized 400w" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="sc-qZtVr dLIPjF pf-90668d5e pf-img-lazy" data-pf-type="Image2"></div></div></div></div></div></div></div></div></div></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"2.12.7","shopDomain":"true-sons-tl.myshopify.com","elementData":{},"pageTitle":"Find your shade","pageType":"page","pageId":"5e794cbc-481c-4306-a770-80bf7288afcb","lazyLoad":false,"imageLazyLoad":true,"nativeImageLazyLoad":true,"trackingIDs":[]};
					window.__pagefly_setting__.moneyFormat = {{shop.money_format | json}}
				</script><script src="https://cdn.pagefly.io/pagefly/2.12.7/core/helper.js?t=20200730030701" defer></script><script>
jQuery (document).ready(function () {
    
//slider

jQuery ('.homeSlider').slick({
  slidesToScroll: 1,
  arrows: false,
  fade: true,
  asNavFor: '.homeSliderNav',
  autoplay: true,
});
jQuery ('.homeSliderNav').slick({
  slidesToShow: 5,
  slidesToScroll: 1,
  arrows: true,
  asNavFor: '.homeSlider',
  focusOnSelect: true,
  variableWidth: true,
  centerMode: true,
  centerPadding: '10px;', 
});



//change slider 


jQuery('button.sc-pTHXP.iPjCUf').click(function(e) {
	e.preventDefault();
  var activeLabel = jQuery(e.currentTarget).text();
  
switch  (activeLabel) {	 
	  case 'DARK BROWN':
        var a=document.getElementsByTagName("img");
for(i=0;i<a.length;i++)
        {
        if (a[i].className=="img1")
            {
                a[i].src="https://cdn.shopify.com/s/files/1/1600/5339/files/29A9137_1_1.jpg?v=1583267993";          
            }
         else if (a[i].className=="img2")
            {
                a[i].src="https://cdn.shopify.com/s/files/1/1600/5339/files/29A9032_1.jpg?v=1583268012";          
            }
          else if (a[i].className=="img3")
            {
                a[i].src="https://cdn.shopify.com/s/files/1/1600/5339/files/29A9036_1.jpg?v=1583268023";          
            }
        }
	  break;
	
	
  case 'MEDIUM BROWN': 
        var a=document.getElementsByTagName("img");
for(i=0;i<a.length;i++)
        {
        if (a[i].className=="img1")
            {
                a[i].src="https://cdn.shopify.com/s/files/1/1600/5339/files/29A0562_2.jpg?v=1583267953";          
            }
         else if (a[i].className=="img2")
            {
                a[i].src="https://cdn.shopify.com/s/files/1/1600/5339/files/29A0591_1.jpg?v=1583267967";          
            }
          else if (a[i].className=="img3")
            {
                a[i].src="https://cdn.shopify.com/s/files/1/1600/5339/files/29A0598_1.png?v=1580940568";          
            }
        }
   break;
  
    case 'DIRTY BLOND':
        var a=document.getElementsByTagName("img");
   for(i=0;i<a.length;i++)
        {
        if (a[i].className=="img1")
            {
                a[i].src="https://cdn.shopify.com/s/files/1/1600/5339/files/29A9317_4.jpg?v=1583267848";          
            }
         else if (a[i].className=="img2")
            {
                a[i].src="https://cdn.shopify.com/s/files/1/1600/5339/files/29A9292_1.jpg?v=1583267869";          
            }
          else if (a[i].className=="img3")
            {
                a[i].src="https://cdn.shopify.com/s/files/1/1600/5339/files/29A9300_1.png?v=1580940318";          
            }
        }
   break;
  
    case 'AUBURN':
        var a=document.getElementsByTagName("img");
   for(i=0;i<a.length;i++)
        {
        if (a[i].className=="img1")
            {
                a[i].src="https://cdn.shopify.com/s/files/1/1600/5339/files/29A0043_1.png?v=1580940004";          
            }
         else if (a[i].className=="img2")
            {
                a[i].src="https://cdn.shopify.com/s/files/1/1600/5339/files/29A0075_1.jpg?v=1583267808";          
            }
          else if (a[i].className=="img3")
            {
                a[i].src="https://cdn.shopify.com/s/files/1/1600/5339/files/29A0084_1.png?v=1580940025";          
            }
        }
   break;
  
  case 'TRUE BLACK':
        var a=document.getElementsByTagName("img");
    for(i=0;i<a.length;i++)
        {
        if (a[i].className=="img1")
            {
                a[i].src="https://cdn.shopify.com/s/files/1/1600/5339/files/29A9264_1.jpg?v=1583268093";          
            }
         else if (a[i].className=="img2")
            {
                a[i].src="https://cdn.shopify.com/s/files/1/1600/5339/files/29A9214_1.jpg?v=1583268109";          
            }
          else if (a[i].className=="img3")
            {
                a[i].src="https://cdn.shopify.com/s/files/1/1600/5339/files/29A9229_1.jpg?v=1583268123";          
            }
        }
     break;
  
  case 'LIGHT BROWN':
        var a=document.getElementsByTagName("img");
    for(i=0;i<a.length;i++)
        {
        if (a[i].className=="img1")
            {
                a[i].src="https://cdn.shopify.com/s/files/1/1600/5339/files/29A9471_1.png?v=1582023289";          
            }
         else if (a[i].className=="img2")
            {
                a[i].src="https://cdn.shopify.com/s/files/1/1600/5339/files/29A9614.png?v=1582023973";          
            }
          else if (a[i].className=="img3")
            {
                a[i].src="https://cdn.shopify.com/s/files/1/1600/5339/files/111.png?v=1582024013";          
            }
        }
    break;
  
   case 'BROWN BLACK':
        var a=document.getElementsByTagName("img");
   for(i=0;i<a.length;i++)
        {
        if (a[i].className=="img1")
            {
                a[i].src="https://cdn.shopify.com/s/files/1/1600/5339/files/29A0301_1.jpg?v=1583268049";          
            }
         else if (a[i].className=="img2")
            {
                a[i].src="https://cdn.shopify.com/s/files/1/1600/5339/files/29A0373_2.jpg?v=1583268064";          
            }
          else if (a[i].className=="img3")
            {
                a[i].src="https://cdn.shopify.com/s/files/1/1600/5339/files/29A0276_1.jpg?v=1583268073";          
            }
        }
    break;
  
 
}

});
  
  jQuery(function() {
	
  var list = jQuery('.js-dropdown-list');
  var link = jQuery('.js-link');
	
  link.click(function(e) {
    e.preventDefault();
    list.slideToggle(200);
	 });
	
	list.find('li').click(function() {
    var text = jQuery(this).html();
    var icon = '<i class="fa fa-chevron-down"></i>';
	var newDataId = jQuery(this).attr("class");
	jQuery('.js-link').attr("data-id", newDataId);
    link.html(text+icon);
    list.slideToggle(200);
	 });
	  
	  
	list.find('li').click(function() {
	var curDataId = jQuery('.js-link').attr("data-id");
	  	var matchImg = jQuery('#match_img');
	  var matchText = jQuery('#change_match');

	switch(curDataId) {
	  case 'dirty_blond':
		jQuery(matchImg).attr("src","https://cdn.shopify.com/s/files/1/1600/5339/files/dirty_blond.png?v=1591271427");
		jQuery(matchText).text("Dirty Blond");
		break;
		case 'brown_black':
		jQuery(matchImg).attr("src","https://cdn.shopify.com/s/files/1/1600/5339/files/brown_black.png?v=1591271646");
		jQuery(matchText).text("brown black");
		break;
	case 'light_brown':
		jQuery(matchImg).attr("src","https://cdn.shopify.com/s/files/1/1600/5339/files/light_brown.png?v=1591271458");
		jQuery(matchText).text("light brown");
		break;
	case 'medium_brown':
		jQuery(matchImg).attr("src","https://cdn.shopify.com/s/files/1/1600/5339/files/medium_brown.png?v=1591271597");
		jQuery(matchText).text("medium brown");
		break;
	case 'dark_brown':
		jQuery(matchImg).attr("src","https://cdn.shopify.com/s/files/1/1600/5339/files/dark_brown.png?v=1591271628");
		jQuery(matchText).text("dark brown");
		break;
	case 'true_black':
		jQuery(matchImg).attr("src","https://cdn.shopify.com/s/files/1/1600/5339/files/true_black.png?v=1591271659");
		jQuery(matchText).text("true black");
		break;
	}
 
  });

});
  
  
  });

</script>