{% layout 'theme.pagefly' %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400&display=swap"><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.12.0/css/main-style.css?t=20200614110626"><link rel="stylesheet" href="{{ 'pagefly.de4b9062.scss.css' | asset_url }}">
		  <div class="__pf" id="__pf"><div data-pf-type="Body" class="sc-pRgDJ fzXWJx pf-e58fbea2"><div data-pf-type="Layout" class="pf-9b4833e5"><div data-container="false" class="sc-pZopv bjKdkd pf-55de4b90" data-pf-type="Section"><div class="sc-pQQXS iWCqut"><div class="sc-qPjXN eYzxUD pf-4833e58f pf-r pf-r-eh" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:50px; --pf-s-xs:15px;" data-pf-type="Row"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-0655de4b" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-33e58fbe"><h2 style="text-align:center;font-family:'Neutraface 2 Text';">How True Sons is Different</h2>              
                  <div class="embed-container">
                  <style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#aabcfe;margin-bottom: 35px;}
.tg td{font-family: 'Neutraface 2 Text Light';font-weight: bold;;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aabcfe;color:#000;font-weight:600;font-size:15px;background-color:#e8edff;}
.tg th{font-family: 'Neutraface 2 Text Light';font-weight: bold;;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aabcfe;color:#039;background-color:#b9c9fe;}
.tg .tg-1ozy{background-color:#ffffff;border-color:transparent;text-align:center;vertical-align:top}
.tg .tg-331y{background-color:#ffffff;color:#ff6868;border-color:transparent;text-align:center;vertical-align:top}
.tg .tg-kyw5{background-color:#ffffff;color:#397e21;border-color:transparent;text-align:center;vertical-align:top}
.tg .tg-wk8r{background-color:#ffffff;border-color:transparent;text-align:center;vertical-align:top}
.tg .tg-4eph{border-bottom: 1px solid #C4C4C4;border-top: 1px solid #C4C4C4;border-right: none;border-left: none;background-color:#ffffff;color:#000;text-align:right;vertical-align:top;font-weight:600;font-size:20px;padding-right:17px;}
.tg .tg-rdjq{border-bottom: 1px solid #C4C4C4;border-top: 1px solid #C4C4C4;border-right: none;border-left: none;background-color:#ffffff;color:#656565;text-align:left;vertical-align:top}
.tg .tg-yh44{border-bottom: 1px solid #C4C4C4;border-top: 1px solid #C4C4C4;border-right: none;border-left: none;background-color:#ffffff;color:#000;text-align:center;vertical-align:top;font-weight:600;font-size:20px;}
.tg .tg-enrs{padding-top: 25px;background: url("https://cdn.shopify.com/s/files/1/1600/5339/files/popup-img_aca5a565-5955-4186-b1ef-3f83dd1ee675.png?v=1582151450") no-repeat 80% 65% white;color:#ffffff;border-color:transparent;text-align:left;vertical-align:top}
.tg .tg-enrs-2{padding-top: 25px;background: url("https://cdn.shopify.com/s/files/1/1600/5339/files/Group_100.png?v=1580942546") no-repeat 0% 35% white;color:#ffffff;border-color:transparent;text-align:left;vertical-align:top}
.tg .tg-b3e6{background-color:#ffffff;color:#397e21;border-color:transparent;text-align:center;vertical-align:top}
.tg .tg-sz8d{background-color:#ffffff;color:#ff6868;border-color:transparent;text-align:center;vertical-align:top}
.tg .tg-1ozy-up, .tg .tg-kyw5-up, .tg .tg-331y-up {padding-top: 25px;}
</style>
<table class="tg" style="undefined;table-layout: fixed; width: 962px">
<colgroup>
<col class="col_1"> 
<col class="col_2">
<col class="col_3">
<col class="col_4">
<col class="col_5">
</colgroup>
  <tbody><tr class="tg-row">
    <th class="tg-4eph" colspan="2">True Sons</th>
    <th class="tg-rdjq"></th>
    <th class="tg-yh44">Drugstore dye</th>
    <th class="tg-rdjq"></th>
  </tr>
  <tr>
    <td class="tg-enrs" rowspan="7"></td>
    <td class="tg-kyw5 tg-kyw5-up">Yes</td>
    <td class="tg-1ozy tg-1ozy-up">Overdye Protection</td>
    <td class="tg-331y tg-331y-up">No</td>
    <td class="tg-enrs-2" rowspan="7"></td>
  </tr>
  <tr>
    <td class="tg-b3e6">Yes</td>
    <td class="tg-wk8r">Air Oxidizing Foam</td>
    <td class="tg-sz8d">No</td>
  </tr>
  <tr>
    <td class="tg-kyw5">Yes</td>
    <td class="tg-1ozy">No Mixing</td>
    <td class="tg-331y">No</td>
  </tr>
  <tr>
    <td class="tg-b3e6">Yes</td>
    <td class="tg-wk8r">Multi-Use</td>
    <td class="tg-sz8d">No</td>
  </tr>
  <tr>
    <td class="tg-kyw5">Yes</td>
    <td class="tg-1ozy">Wipes for easy clean up</td>
    <td class="tg-331y">No</td>
  </tr>
  <tr>
    <td class="tg-b3e6">Yes</td>
    <td class="tg-wk8r">Hand crafted shades*</td>
    <td class="tg-sz8d">No</td>
  </tr>
  <tr>
    <td class="tg-kyw5">Yes</td>
    <td class="tg-1ozy">Discreet Packaging</td>
    <td class="tg-331y">No</td>
  </tr>
</tbody></table>
           </div>
</div></div></div></div></div></div></div></div></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"2.12.0","shopDomain":"true-sons-tl.myshopify.com","elementData":{},"pageTitle":"How True Sons is Different","pageType":"page","pageId":"de4b9062-2d84-4114-a98c-5488a24d4cee","lazyLoad":false,"imageLazyLoad":false,"nativeImageLazyLoad":true,"trackingIDs":[]};
					window.__pagefly_setting__.moneyFormat = {{shop.money_format | json}}
				</script><script src="https://cdn.pagefly.io/pagefly/2.12.0/core/helper.js?t=20200614110626" defer></script>