{% layout 'theme.pagefly' %}
<link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.11.4/css/main-style.css?t=20200604200650"><link rel="stylesheet" href="{{ 'pagefly.7467e77b.scss.css' | asset_url }}">
		 <style>@media only screen and (max-width: 600px) { 	.popup-2-text { 	font-size: 16px !important; } table.tg { 	width: 337px !important; } .tg > tbody { 	width: 350px !important; 	display: table-caption !important; } .sc-qPjXN.eYzxUD.pf-27ce94c6.pf-r.pf-r-eh { 	max-width: 400px; } .tg .tg-wv60, .tg .tg-l0o7 { 	font-size: 19px !important; 	line-height: 23px !important; } .tg .tg-33wd, .tg .tg-j28k { 	font-size: 21px !important; 	line-height: 18px !important; } .tg .tg-cqwb-2 { 	background: url("https://cdn.shopify.com/s/files/1/1600/5339/files/Group_1_11.png?v=1581120754") no-repeat 22% 50% !important; } } }</style> <div class="__pf" id="__pf"><div data-pf-type="Body" class="sc-pRgDJ fzXWJx pf-0d1baea8"><div data-pf-type="Layout" class="pf-df650d1b"><div data-container="false" class="sc-pZopv bjKdkd pf-987a6723" data-pf-type="Section"><div class="sc-pQQXS iWCqut"><div class="sc-qPjXN eYzxUD pf-27ce94c6 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-174727ce" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-67231747"><h2 style="text-align:center;font-family: 'Neutraface 2 Text';">How our cost compares to drug store dyes</h2>  
                  <p class="popup-2-text" style="text-align:center;font-family: 'Neutraface 2 Text Light';"><b>True Sons is a multi-use aerosol foam for men.</b><br> That means that you can get 4-6 applications / touch ups from a single bottle of True Sons. <br> That works out to less than $10 per application, cheaper than many single-use drugstore box dyes.<br>                          
                  </p><div class="embed-container">
                  <style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#aabcfe;}
.tg td{font-family: 'Neutraface 2 Text Light';font-weight: bold;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aabcfe;color:#000;background-color:#e8edff;}
.tg th{font-family: 'Neutraface 2 Text Light';font-weight: bold;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#aabcfe;color:#039;background-color:#b9c9fe;}
.tg .tg-1ozy{background-color:#ffffff;border-color:#ffffff;text-align:center;vertical-align:top}
.tg .tg-oe15{background-color:#ffffff;border-color:#ffffff;text-align:left;vertical-align:top}
.tg .tg-wv60{background-color:#ffffff;font-weight:bold;color:#397e21;border-color:#ffffff;text-align:right;vertical-align:top;font-size: 21px;}
.tg .tg-kaak{background-color:#ffffff;border-color:#ffffff;text-align:left;vertical-align:top}
.tg .tg-j28k{font-weight:bold;background-color:#ffffff;color:#ff6868;border-color:#ffffff;text-align:left;vertical-align:top;font-size: 21px;padding-top: 0px;
line-height: 9px;
padding-left: 35px;}
.tg .tg-wk8r{background-color:#ffffff;border-color:#ffffff;text-align:center;vertical-align:top}
.tg .tg-cqwb{background: url("https://cdn.shopify.com/s/files/1/1600/5339/files/popup-img_aca5a565-5955-4186-b1ef-3f83dd1ee675.png?v=1582151450") no-repeat 80% 20%;color:#ffffff;border:none;text-align:left;vertical-align:top}
.tg .tg-cqwb-2{background: url("https://cdn.shopify.com/s/files/1/1600/5339/files/Group_1_11.png?v=1581120754") no-repeat 22% 0%;color:#ffffff;border:none;text-align:left;vertical-align:top}
.tg .tg-1e5g{font-family: 'Neutraface 2 Text Light';font-weight: bold;background-color:#ffffff;font-size:68px;font-weight: 400;color:#051699;border-color:#ffffff;text-align:center;vertical-align:top}
.tg .tg-l0o7{background-color:#ffffff;font-weight:bold;color:#ff6868;border-color:#ffffff;text-align:left;vertical-align:top;font-size: 25px;padding-left: 29px;}
.tg .tg-33wd{font-weight:bold;background-color:#ffffff;color:#397e21;border-color:#ffffff;text-align:right;vertical-align:top;font-size: 21px;padding-top: 0px;
line-height: 9px;
padding-right: 21px;}
</style>
<table class="tg" style="undefined;table-layout: fixed; width: 962px; padding-bottom: 20px">
<colgroup>
<col style="width: 282px">
<col style="width: 227px">
<col style="width: 281px">
</colgroup>
  <tbody><tr>
    <th class="tg-cqwb" rowspan="7" height="250px"></th>
    <th class="tg-wk8r"></th>
    <th class="tg-cqwb-2" rowspan="7"></th>
  </tr>
  <tr>
    <td class="tg-1ozy"></td>
  </tr>
  <tr>
    <td class="tg-wk8r"></td>
  </tr>
  <tr>
    <td class="tg-1e5g">VS</td>
  </tr>
  <tr>
    <td class="tg-wk8r"></td>
  </tr>
  <tr>
    <td class="tg-1ozy"></td>
  </tr>
  <tr>
    <td class="tg-wk8r"></td>
  </tr>
  <tr>
    <td class="tg-wv60" style="text-align:right; padding-right: 25px;">Multiples uses</td>
    <td class="tg-kaak"></td>
    <td class="tg-l0o7" style="text-align:left; padding-left: 25px;" "="">One use only</td>
  </tr>
  <tr>
    <td class="tg-33wd" style="text-align:right;padding-right: 25px;" "="">$5+ per use</td>
    <td class="tg-oe15"></td>
    <td class="tg-j28k" style="text-align:left; padding-left: 25px;" "="">$10+ per use</td>
  </tr>
</tbody></table></div></div></div></div></div></div></div></div></div></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"2.11.4","shopDomain":"truesons-dev.myshopify.com","elementData":{},"pageTitle":"How our cost compares to drug store dyes","pageType":"page","pageId":"7467e77b-7a83-4dc9-b2f5-5050c6815525","lazyLoad":false,"imageLazyLoad":false,"nativeImageLazyLoad":true,"trackingIDs":[]};
					window.__pagefly_setting__.moneyFormat = {{shop.money_format | json}}
				</script><script src="https://cdn.pagefly.io/pagefly/2.11.4/core/helper.js?t=20200604200650" defer></script>