<link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.11.4/css/main-style.css?t=20200605000602"><link rel="stylesheet" href="{{ 'pagefly.5470be18.scss.css' | asset_url }}">
		  <div class="__pf" id="__pf"><div data-pf-type="Body" class="sc-pRgDJ fzXWJx pf-35066454"><div data-pf-type="Layout" class="pf-396e3506"><div data-container="false" class="sc-pZopv bjKdkd pf-44adae0a" data-pf-type="Section"><div class="sc-pQQXS iWCqut"><div class="sc-qPjXN eYzxUD pf-6902ecec pf-r pf-r-align--cm" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-df6e6902" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-ececcd8c"><div class="shopify-section  ow-video-section-v1">
    <div class="embed-container"><iframe src="https://www.youtube.com/embed/sbfgTweslgU?rel=0&showinfo=0" frameborder="0" allowfullscreen=""></iframe></div>
</div></div></div></div></div></div></div><div data-container="false" class="sc-pZopv bjKdkd pf-f15a2ac0" data-pf-type="Section"><div class="sc-pQQXS iWCqut"><div class="sc-qPjXN eYzxUD pf-df11f15a pf-r pf-r-align--cm pf-r-ew how_to_row" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:0px; --pf-s-sm:0px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-d04944ec" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-ceb2f17e"><div class="feature-row__item ow-how-to-text feature-row__text feature-row__text--right">
      
        <h2><span>1</span><br>Foam It</h2>
      
      
        <div class="rte-setting featured-row__subtext"><ul>
  <li class="first_point">Put on gloves.</li><br><br>
		  
  <li class="second_point">Shake the can thoroughly to activate the foam before each squirt.</li><br><br>
  <li>To dispense foam, hold the can at a 45-degree angle with nozzle pointing into palm of one hand. Press the button. Dispense a golf ball size dollop of foam.</li>
</ul></div>
      
      
    </div></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--10 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-44ecdf11" data-pf-type="Column"><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" data-srcset="https://cdn.shopify.com/s/files/1/0297/8558/7772/t/2/assets/pf-a28c2a8e--step11920x19202.jpg?v=1591264724 1200w, https://cdn.shopify.com/s/files/1/0297/8558/7772/t/2/assets/pf-a28c2a8e--step11920x19202_800x800.jpg?v=1591264724&resized 800w, https://cdn.shopify.com/s/files/1/0297/8558/7772/t/2/assets/pf-a28c2a8e--step11920x19202_400x400.jpg?v=1591264724&resized 400w" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="sc-qZtVr dLIPjF pf-f17ed049 pf-img-lazy" data-pf-type="Image2"></div></div></div></div></div><div data-container="false" class="sc-pZopv bjKdkd pf-2d4e2782" data-pf-type="Section"><div class="sc-pQQXS iWCqut"><div class="sc-qPjXN eYzxUD pf-a5912d4e pf-r pf-r-align--cm pf-r-ew how_to_row" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:0px; --pf-s-sm:0px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-bac17db6" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-b427a5bd"><div class="feature-row__item ow-how-to-text feature-row__text feature-row__text--right">
      
        <h2><span>2</span><br>Apply It</h2>
      
      
        <div class="rte-setting featured-row__subtext"><ul>
  <li class="first_point">Massage foam into your hair using your hands or the comb provided.</li><br><br>
  <li class="second_point">Apply as many golf ball size dollops of foam as you need to cover your hair thoroughly. Thick layers of foam are needed for the foam to work properly.</li><br><br>
  <li>Be sure to remove any foam from exposed skin or hands immediately to prevent staining.<br><br><br>


CAUTION: do not use dye on eyebrows, eyelashes, or pubic areas.</li>
</ul></div>
      
      
    </div></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-7db6a591" data-pf-type="Column"><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" data-srcset="https://cdn.shopify.com/s/files/1/0297/8558/7772/t/2/assets/pf-c0a28c2a--step21920x19202.jpg?v=1591264719 1200w, https://cdn.shopify.com/s/files/1/0297/8558/7772/t/2/assets/pf-c0a28c2a--step21920x19202_800x800.jpg?v=1591264719&resized 800w, https://cdn.shopify.com/s/files/1/0297/8558/7772/t/2/assets/pf-c0a28c2a--step21920x19202_400x400.jpg?v=1591264719&resized 400w" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="sc-qZtVr dLIPjF pf-a5bdbac1 pf-img-lazy" data-pf-type="Image2"></div></div></div></div></div><div data-container="false" class="sc-pZopv bjKdkd pf-2114887f" data-pf-type="Section"><div class="sc-pQQXS iWCqut"><div class="sc-qPjXN eYzxUD pf-b53a2114 pf-r pf-r-align--cm pf-r-ew how_to_row" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:0px; --pf-s-sm:0px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-fdaa04db" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-2ac04c7b"><div class="feature-row__item ow-how-to-text feature-row__text feature-row__text--right">
      
        <h2><span>3</span><br>Wait For It</h2>
      
      
        <div class="rte-setting featured-row__subtext"><ul>
  <li class="first_point">Start timing after you have completed applying the foam:</li><br><br>
  <li class="second_point">First-timers should allow the dye foam to stay on the hair for 10-15 minutes.</li><br><br>
  <li class="third_point">Experienced dyers who want more coverage may need to leave dye on hair for 15-20 minutes.</li><br><br>
  <li>The white foam will turn dark during the process. Don’t freak out. This means the product is working properly. It won’t look so dark after you rinse it off.</li>
</ul></div>
      
    </div></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-04dbb53a" data-pf-type="Column"><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" data-srcset="https://cdn.shopify.com/s/files/1/0297/8558/7772/t/2/assets/pf-8c2a8e08--step31920x19202.jpg?v=1591264729 1200w, https://cdn.shopify.com/s/files/1/0297/8558/7772/t/2/assets/pf-8c2a8e08--step31920x19202_800x800.jpg?v=1591264729&resized 800w, https://cdn.shopify.com/s/files/1/0297/8558/7772/t/2/assets/pf-8c2a8e08--step31920x19202_400x400.jpg?v=1591264729&resized 400w" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="sc-qZtVr dLIPjF pf-4c7bfdaa pf-img-lazy" data-pf-type="Image2"></div></div></div></div></div><div data-container="false" class="sc-pZopv bjKdkd pf-7f570cf9" data-pf-type="Section"><div class="sc-pQQXS iWCqut"><div class="sc-qPjXN eYzxUD pf-10077f57 pf-r pf-r-align--cm pf-r-ew how_to_row" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:0px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-cfe6a522" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-887f3ad3"><div class="feature-row__item ow-how-to-text feature-row__text feature-row__text--right">
      
        <h2><span>4</span><br>Wash It</h2>
      
      
        <div class="rte-setting featured-row__subtext"><ul>
  <li class="first_point">Rinse dye out thoroughly with water only. Continue to rinse until the water runs clear.</li><br><br>
  <li>Use the Dye Removal Wipes to remove any visible stains on skin.</li><br><br>
  <li>CAUTION: Do not get any dye in your eyes.</li>
</ul></div>
      
    </div></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-a5221007" data-pf-type="Column"><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" data-srcset="https://cdn.shopify.com/s/files/1/0297/8558/7772/t/2/assets/pf-2a8e08ad--step41920x19202.jpg?v=1591264735 1200w, https://cdn.shopify.com/s/files/1/0297/8558/7772/t/2/assets/pf-2a8e08ad--step41920x19202_800x800.jpg?v=1591264735&resized 800w, https://cdn.shopify.com/s/files/1/0297/8558/7772/t/2/assets/pf-2a8e08ad--step41920x19202_400x400.jpg?v=1591264735&resized 400w" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="sc-qZtVr dLIPjF pf-3ad3cfe6 pf-img-lazy" data-pf-type="Image2"></div></div></div></div></div><div data-container="false" class="sc-pZopv bjKdkd pf-1abfa63b" data-pf-type="Section"><div class="sc-pQQXS iWCqut"><div class="sc-qPjXN eYzxUD pf-1c341abf pf-r pf-r-align--cm pf-r-ew" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:0px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-2938dbe6" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-0cf934aa"><div class="feature-row__item ow-how-to-text feature-row__text feature-row__text--right">
      
        <h2><span>5</span><br>Own It</h2>
      
      
        <div class="rte-setting featured-row__subtext"><ul>
  <li class="first_point">Each can of True Sons can be used for multiple applications and will last about a month, depending on how frequently you dye. Most guys use True Sons hair dye foam weekly to maintain consistent, natural-looking color.</li><br><br>
  <li>Want more gray coverage? You can dye again the same day.</li><br><br>
</ul></div>
      
    </div></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-dbe61c34" data-pf-type="Column"><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" data-srcset="https://cdn.shopify.com/s/files/1/0297/8558/7772/t/2/assets/pf-8e08ad5e--step51920x19202.jpg?v=1591264742 1200w, https://cdn.shopify.com/s/files/1/0297/8558/7772/t/2/assets/pf-8e08ad5e--step51920x19202_800x800.jpg?v=1591264742&resized 800w, https://cdn.shopify.com/s/files/1/0297/8558/7772/t/2/assets/pf-8e08ad5e--step51920x19202_400x400.jpg?v=1591264742&resized 400w" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="sc-qZtVr dLIPjF pf-34aa2938 pf-img-lazy" data-pf-type="Image2"></div></div></div></div></div></div></div></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"2.11.4","shopDomain":"truesons-dev.myshopify.com","elementData":{},"pageTitle":"How to dye","pageType":"page","pageId":"5470be18-3f13-498c-b7ba-324e4516d449","lazyLoad":false,"imageLazyLoad":true,"nativeImageLazyLoad":true,"trackingIDs":[]};
					window.__pagefly_setting__.moneyFormat = {{shop.money_format | json}}
				</script><script src="https://cdn.pagefly.io/pagefly/2.11.4/core/helper.js?t=20200605000602" defer></script>