<link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.11.4/css/main-style.css?t=20200605000653"><link rel="stylesheet" href="{{ 'pagefly.bd8076bb.scss.css' | asset_url }}">
		  <div class="__pf" id="__pf"><div data-pf-type="Body" class="sc-pRgDJ fzXWJx pf-90ce3966"><div data-pf-type="Layout" class="pf-e9669b5f"><div data-container="true" class="sc-pZopv bjKdkd pf-d36eed3f pf-bg-lazy" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-c6a786b8 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-e5cac6a7" data-pf-type="Column"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-84e8e5ca"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-2fed9c48"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-d5766884">Find Your Shade</span></h3></div></div></div></div><div class="sc-qPjXN eYzxUD pf-6cac26de pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--3 pf-c-md--3 pf-c-lg--3"><div class="sc-pkUyL fTyjzF pf-eb11046f" data-pf-type="Column"></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-046f4f6d" data-pf-type="Column"><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-70814f85"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-231d7081">Need help selecting the right shade? That's easy. Choose the shade that most closely matches your natural hair color — before any gray started making itself at home.
</span></p></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--3 pf-c-md--3 pf-c-lg--3"><div class="sc-pkUyL fTyjzF pf-4f6d6cac" data-pf-type="Column"></div></div></div><div class="sc-qPjXN eYzxUD pf-b43f6f1d pf-r pf-r-align--cm" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-6eed3fd5" data-pf-type="Column"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-ed3fd576"><div mode="view" data-pf-type="Tabs2" class="sc-pCOPB fhcpFs pf-c39e8675"><div data-pf-type="TabsMenu" class="sc-pcZmk fLYRsF pf-7668842f"><button type="button" data-pf-tab-active="false" class="sc-pTHXP iPjCUf pf-8407afc0 pf-anchor" data-pf-type="TabHeader"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-842fb4c2">AUBURN</span></button><button type="button" data-pf-tab-active="false" class="sc-pTHXP iPjCUf pf-cf747b74 pf-anchor" data-pf-type="TabHeader"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-b4c2e160">DIRTY BLOND</span></button><button type="button" data-pf-tab-active="false" class="sc-pTHXP iPjCUf pf-122bd5ef pf-anchor" data-pf-type="TabHeader"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-e160f11f">LIGHT BROWN</span></button><button type="button" data-pf-tab-active="true" class="sc-pTHXP iPjCUf pf-55aa86c1 pf-anchor" data-pf-type="TabHeader"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-f11ffb0e">MEDIUM BROWN</span></button><button type="button" data-pf-tab-active="false" class="sc-pTHXP iPjCUf pf-29ae77e4 pf-anchor" data-pf-type="TabHeader"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-fb0ea31c">DARK BROWN</span></button><button type="button" data-pf-tab-active="false" class="sc-pTHXP iPjCUf pf-07f7b98c pf-anchor" data-pf-type="TabHeader"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-a31cfcc3">BROWN BLACK</span></button><button type="button" data-pf-tab-active="false" class="sc-pTHXP iPjCUf pf-1a50273e pf-anchor" data-pf-type="TabHeader"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-fcc37f6d">TRUE BLACK</span></button></div><div data-pf-type="TabContentWrapper" class="sc-pKLCU LdczL pf-9dc39e86"><div data-pf-type="TabsContent" class="sc-qbELi eXHXkH pf-fb0812fd"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-00f73bd9"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-7f6df080">AUBURN</span></h3><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-2ffb0812"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-f080f828">The Auburn shade is perfect for fiery gingers, strawberry blondes, and everyone in between. This shade mixes warm reds and bright golds for a true-to-life auburn hue.</span></p></div><div data-pf-type="TabsContent" class="sc-qbELi eXHXkH pf-8f43cbd6"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-728d7dad"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-f828f723">DIRTY BLOND</span></h3><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-c28f43cb"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-f723e908">The Dirty Blond shade will work equally well for surfers and vikings; we let you stay ‘dirty’ by allowing a mix of shades to show through. Started off blond and darkened with age? Consider Light Brown instead.</span></p></div><div data-pf-type="TabsContent" class="sc-qbELi eXHXkH pf-de2296fd"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-18bb7aaa"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-e90839a0">Light brown</span></h3><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-1fde2296"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-39a01cec">The Light Brown shade accentuates the lighter blond tones of your hair while keeping the brown tones below looking natural and authentic. Perfect for anyone who rocked blond hair in their glory days.</span></p></div><div data-pf-type="TabsContent" class="sc-qbELi eXHXkH pf-705f7312"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-3c7cd887"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-1cecdfa5">MEDIUM BROWN</span></h3><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-6f705f73"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-dfa5a005">Medium brown is a mix of cool earth tones for guys who have rich, milk-chocolate tones. This shade is a solid golden brown that isn’t too dark.</span></p></div><div data-pf-type="TabsContent" class="sc-qbELi eXHXkH pf-43ec34f2"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-1f748522"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-a005b679">Dark Brown</span></h3><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-e843ec34"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-b679f5b5">The Dark Brown shade is used by largest number of guys. Light skin and very dark hair? Most caucasian men find this to be the darkest shade that they need.</span></p></div><div data-pf-type="TabsContent" class="sc-qbELi eXHXkH pf-557d5dbe"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-3173a9af"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-f5b54ce0">BROWN BLACK</span></h3><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-71557d5d"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-4ce0a213">If you have very dark hair, Brown Black could be your shade. Look at at your hair after spending time in the sun; if you can see even the faintest flecks of gold in your dark hair, you’re probably Brown Black, not True Black.</span></p></div><div data-pf-type="TabsContent" class="sc-qbELi eXHXkH pf-eb9dc39e"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-2f095b9e"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-a2130d62">True Black</span></h3><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-86eb9dc3"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-0d62a0fc">The True Black shade is best for dark-haired, Latin, Asian, Middle Eastern, Black, or Black Irish men. If you have any hints brown in your hair, go for Brown Black instead.</span></p></div></div></div><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-7c4098c3"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-b0607c40">Ready to dye like a man?</span></h3><a href="/pages/get-started" target="_self" data-pf-type="Button" class="sc-pZdvY kuwSuz pf-acfeb429 pf-bg-lazy"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-a0fc69a0">PURCHASE</span></a></div></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--6 pf-c-md--6 pf-c-lg--6"><div class="sc-pkUyL fTyjzF pf-fc69a0c3" data-pf-type="Column"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-69a0c369"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-a0c3696c"><div class="container main_slider">
  <div class="row">
    <div class="col-sm-6">
      <div class="homeSlider">
        <div class="active item">
          <img class="img1" src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A9137_1_1_1.png?v=1590183406">
        </div>
        <div class="item">
          <img class="img2" src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A9032_1.png?v=1590183406">
        </div>
        <div class="item">
          <img class="img3" src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A9036_1.png?v=1590183406">
        </div>
        <div class="item">
          <img class="img4" src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/TrueSons_Product_0084_1_2.png?v=1590171457">
        </div>
      </div>
      <div class="homeSliderNav">
        <div>
          <img class="img1" src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A9137_1_1_1.png?v=1590183406">
        </div>
        <div>
          <img class="img2" src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A9032_1.png?v=1590183406">
        </div>
        <div>
          <img class="img3" src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A9036_1.png?v=1590183406">
        </div>
        <div>
          <img class="img4" src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/TrueSons_Product_0084_1_2.png?v=1590171457">
        </div>
      </div>
    </div>
  </div>
</div></div></div></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-de46307c pf-bg-lazy" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-974dbbd0 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-b21b974d" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-e023b21b"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-712de023">Before and After</span></h3><div data-sliderx="{'curr':0,'autoPlay':false,'autoPlayDelay':3000,'duration':300,'loop':false,'draggable':true,'paginationStyle':'pagination-style-2','navStyle':'nav-style-3 fa-angle','adaptiveHeight':false,'slidesToShow':{'all':1,'laptop':3,'tablet':1,'mobile':1},'slidesToScroll':{'all':1,'laptop':1,'tablet':1,'mobile':1},'gutter':{'all':20,'laptop':20,'tablet':20,'mobile':20}}" data-pf-type="Slider" class="sc-pYPmd kCAYOZ pf-5f5ab17d"><div data-pf-type="Carousel" class="sc-pAwOa cSXOEP pf-2ec5f8e4"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-e4ba71dc"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-b17d5815"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-f75a44a5">
<div style="display: flex; flex-direction:row; justify-content: center;">
  <div>
  <img class="review_thumb" src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/dark_brown.png?v=1591257500">
  </div>
  
  <div>
  <p style="font-family: 'Neutraface 2 Text';
font-weight: bold;
font-size: 20px;
line-height: 28px;
color: rgb(51, 51, 51);margin-left: 10px;margin-top:15px;">
	Carl
	</p>
  </div>
</div>
<div>
  <p style="font-family: 'Neutraface 2 Text';
font-weight: bold;
font-size: 20px;
line-height: 28px;
color: rgb(51, 51, 51);margin-top:15px;">
	Shade: Dark Brown
	</p>
</div>
</div></div></div><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" data-srcset="https://cdn.shopify.com/s/files/1/0297/8558/7772/t/2/assets/pf-c00a6785--review1.png?v=1590964378 1200w, https://cdn.shopify.com/s/files/1/0297/8558/7772/t/2/assets/pf-c00a6785--review1_800x388.png?v=1590964378&resized 800w, https://cdn.shopify.com/s/files/1/0297/8558/7772/t/2/assets/pf-c00a6785--review1_400x194.png?v=1590964378&resized 400w" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="sc-qZtVr dLIPjF pf-62c00a67 pf-img-lazy" data-pf-type="Image2"></div><div data-pf-type="Carousel" class="sc-pAwOa cSXOEP pf-a8889b30"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-58fea888"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-667c58fe"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-5c146bd0">
<div style="display: flex; flex-direction:row; justify-content: center;">
  <div>
<img class="review_thumb" src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/medium_brown_86cb3507-113f-4a02-b5c5-1f696f7bea83.png?v=1591257500">
  </div>
  
  <div>
  <p style="font-family: 'Neutraface 2 Text';
font-weight: bold;
font-size: 20px;
line-height: 28px;
color: rgb(51, 51, 51);margin-left: 10px;margin-top:15px;">
	Brenner
	</p>
  </div>
</div>
<div>
  <p style="font-family: 'Neutraface 2 Text';
font-weight: bold;
font-size: 20px;
line-height: 28px;
color: rgb(51, 51, 51);margin-top:15px;">
	Shade: Medium Brown
	</p>
</div>
</div></div></div><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" data-srcset="https://cdn.shopify.com/s/files/1/0297/8558/7772/t/2/assets/pf-24a23274--review2.png?v=1590970541 1200w, https://cdn.shopify.com/s/files/1/0297/8558/7772/t/2/assets/pf-24a23274--review2_800x388.png?v=1590970541&resized 800w, https://cdn.shopify.com/s/files/1/0297/8558/7772/t/2/assets/pf-24a23274--review2_400x194.png?v=1590970541&resized 400w" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="sc-qZtVr dLIPjF pf-6bd0667c pf-img-lazy" data-pf-type="Image2"></div><div data-pf-type="Carousel" class="sc-pAwOa cSXOEP pf-62b25c14"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-73db62b2"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-51f073db"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-be834ab6">
<div style="display: flex; flex-direction:row; justify-content: center;">
  <div>
<img class="review_thumb" src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/true_black.png?v=1591257500">  </div>
  
  <div>
  <p style="font-family: 'Neutraface 2 Text';
font-weight: bold;
font-size: 20px;
line-height: 28px;
color: rgb(51, 51, 51);margin-left: 10px;margin-top:15px;">
	Keith
	</p>
  </div>
</div>
<div>
  <p style="font-family: 'Neutraface 2 Text';
font-weight: bold;
font-size: 20px;
line-height: 28px;
color: rgb(51, 51, 51);margin-top:15px;">
	Shade: True Black
	</p>
</div>
</div></div></div><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" data-srcset="https://cdn.shopify.com/s/files/1/0297/8558/7772/t/2/assets/pf-9b30e3c5--review3.png?v=1590965900 1200w, https://cdn.shopify.com/s/files/1/0297/8558/7772/t/2/assets/pf-9b30e3c5--review3_800x388.png?v=1590965900&resized 800w, https://cdn.shopify.com/s/files/1/0297/8558/7772/t/2/assets/pf-9b30e3c5--review3_400x194.png?v=1590965900&resized 400w" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="sc-qZtVr dLIPjF pf-4ab651f0 pf-img-lazy" data-pf-type="Image2"></div><div data-pf-type="Carousel" class="sc-pAwOa cSXOEP pf-4d3fbe83"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-19994d3f"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-733a1999"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-44a56143">
<div style="display: flex; flex-direction:row; justify-content: center;">
  <div>
<img class="review_thumb" src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/dirty_blond_2949c9dd-4231-4612-b330-ae082d6f3dfc.png?v=1591257500">  </div>
  
  <div>
  <p style="font-family: 'Neutraface 2 Text';
font-weight: bold;
font-size: 20px;
line-height: 28px;
color: rgb(51, 51, 51);margin-left: 10px;margin-top:15px;">
	Jim
	</p>
  </div>
</div>
<div>
  <p style="font-family: 'Neutraface 2 Text';
font-weight: bold;
font-size: 20px;
line-height: 28px;
color: rgb(51, 51, 51);margin-top:15px;">
	Shade: Dirty Blond
	</p>
</div>
</div></div></div><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" data-srcset="https://cdn.shopify.com/s/files/1/0297/8558/7772/t/2/assets/pf-30e3c518--review4.png?v=1590966204 1200w, https://cdn.shopify.com/s/files/1/0297/8558/7772/t/2/assets/pf-30e3c518--review4_800x388.png?v=1590966204&resized 800w, https://cdn.shopify.com/s/files/1/0297/8558/7772/t/2/assets/pf-30e3c518--review4_400x194.png?v=1590966204&resized 400w" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="sc-qZtVr dLIPjF pf-6143733a pf-img-lazy" data-pf-type="Image2"></div><div data-pf-type="Carousel" class="sc-pAwOa cSXOEP pf-ebd13688"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-606aebd1"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-89c7606a"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-c5181088">
<div style="display: flex; flex-direction:row; justify-content: center;">
  <div>
  <img src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/image_30.png?v=1590879373">
  </div>
  
  <div>
  <p style="font-family: 'Neutraface 2 Text';
font-weight: bold;
font-size: 20px;
line-height: 28px;
color: rgb(51, 51, 51);margin-left: 10px;margin-top:15px;">
	Mehdi
	</p>
  </div>
</div>
<div>
  <p style="font-family: 'Neutraface 2 Text';
font-weight: bold;
font-size: 20px;
line-height: 28px;
color: rgb(51, 51, 51);margin-top:15px;">
	Shade: Brown Black
	</p>
</div>
</div></div></div><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" data-srcset="https://cdn.shopify.com/s/files/1/0297/8558/7772/t/2/assets/pf-368824a2--review5.png?v=1590966412 1200w, https://cdn.shopify.com/s/files/1/0297/8558/7772/t/2/assets/pf-368824a2--review5_800x388.png?v=1590966412&resized 800w, https://cdn.shopify.com/s/files/1/0297/8558/7772/t/2/assets/pf-368824a2--review5_400x194.png?v=1590966412&resized 400w" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="sc-qZtVr dLIPjF pf-108889c7 pf-img-lazy" data-pf-type="Image2"></div></div></div></div></div></div></div></div></div></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"2.11.4","shopDomain":"truesons-dev.myshopify.com","elementData":{},"pageTitle":"Find your shade","pageType":"page","pageId":"bd8076bb-15e6-4116-9936-76ab13d37d04","lazyLoad":false,"imageLazyLoad":true,"nativeImageLazyLoad":true,"trackingIDs":[]};
					window.__pagefly_setting__.moneyFormat = {{shop.money_format | json}}
				</script><script src="https://cdn.pagefly.io/pagefly/2.11.4/core/helper.js?t=20200605000653" defer></script><script>
jQuery (document).ready(function () {
    
//slider

jQuery ('.homeSlider').slick({
  slidesToScroll: 1,
  arrows: false,
  fade: true,
  asNavFor: '.homeSliderNav',
  autoplay: true,
});
jQuery ('.homeSliderNav').slick({
  slidesToShow: 5,
  slidesToScroll: 1,
  arrows: true,
  asNavFor: '.homeSlider',
  focusOnSelect: true,
  variableWidth: true,
  centerMode: true,
  centerPadding: '10px;', 
});



//change slider 


jQuery('button.sc-pTHXP.iPjCUf').click(function(e) {
	e.preventDefault();
  var activeLabel = jQuery(e.currentTarget).text();
  
switch  (activeLabel) {	 
	  case 'DARK BROWN':
        var a=document.getElementsByTagName("img");
for(i=0;i<a.length;i++)
    {
    if (a[i].className=="img1")
        {
            a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A9137_1_1_1.png?v=1590183406";          
        }
	 else if (a[i].className=="img2")
        {
            a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A9032_1.png?v=1590183406";          
        }
	  else if (a[i].className=="img3")
        {
            a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A9036_1.png?v=1590183406";          
        }
    }
	  break;
	
	
  case 'MEDIUM BROWN': 
        var a=document.getElementsByTagName("img");
for(i=0;i<a.length;i++)
    {
    if (a[i].className=="img1")
        {
            a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A0562_2.png?v=1590183530";          
        }
	 else if (a[i].className=="img2")
        {
            a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A0591_1.png?v=1590183530";          
        }
	  else if (a[i].className=="img3")
        {
            a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A0598_1.png?v=1590183530";          
        }
    }
   break;
  
    case 'DIRTY BLOND':
        var a=document.getElementsByTagName("img");
for(i=0;i<a.length;i++)
    {
    if (a[i].className=="img1")
        {
            a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A9317_4.png?v=1590169970";          
        }
	 else if (a[i].className=="img2")
        {
            a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A9292_1.png?v=1590169969";          
        }
	  else if (a[i].className=="img3")
        {
            a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A9300_1.png?v=1590169969";          
        }
    }
   break;
  
    case 'AUBURN':
        var a=document.getElementsByTagName("img");
for(i=0;i<a.length;i++)
    {
    if (a[i].className=="img1")
        {
            a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A0043_1.png?v=1590182866";          
        }
	 else if (a[i].className=="img2")
        {
            a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A0075_1.png?v=1590182865";          
        }
	  else if (a[i].className=="img3")
        {
            a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A0084_1.png?v=1590182865";          
        }
    }
   break;
  
  case 'TRUE BLACK':
        var a=document.getElementsByTagName("img");
for(i=0;i<a.length;i++)
    {
    if (a[i].className=="img1")
        {
            a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A9264_1.png?v=1590171457";          
        }
	 else if (a[i].className=="img2")
        {
            a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A9214_1.png?v=1590171457";          
        }
	  else if (a[i].className=="img3")
        {
            a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A9229_1.png?v=1590171457";          
        }
    }
     break;
  
  case 'LIGHT BROWN':
        var a=document.getElementsByTagName("img");
for(i=0;i<a.length;i++)
    {
    if (a[i].className=="img1")
        {
            a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A9471_1.png?v=1590183637";          
        }
	 else if (a[i].className=="img2")
        {
            a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A9614.png?v=1590183637";          
        }
	  else if (a[i].className=="img3")
        {
            a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/111.png?v=1590183637";          
        }
    }
    break;
  
   case 'BROWN BLACK':
        var a=document.getElementsByTagName("img");
for(i=0;i<a.length;i++)
    {
    if (a[i].className=="img1")
        {
            a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A0301_1.png?v=1590183701";          
        }
	 else if (a[i].className=="img2")
        {
            a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A0373_2.png?v=1590183701";          
        }
	  else if (a[i].className=="img3")
        {
            a[i].src="https://cdn.shopify.com/s/files/1/0297/8558/7772/files/29A0276_1.png?v=1590183701";          
        }
    }
    break;
  
 
}

});
  });

</script>