<link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.12.0/css/main-style.css?t=20200615150603"><link rel="stylesheet" href="{{ 'pagefly.3aa5a4e1.scss.css' | asset_url }}">
		  <div class="__pf" id="__pf"></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"2.12.0","shopDomain":"true-sons-tl.myshopify.com","elementData":{},"pageTitle":"Get Stardet Product Page","pageType":"product","pageId":"3aa5a4e1-ccc2-4c4a-832b-06d1a5a49e2c","lazyLoad":false,"imageLazyLoad":false,"nativeImageLazyLoad":true,"trackingIDs":[]};
					window.__pagefly_setting__.moneyFormat = {{shop.money_format | json}}
				</script><script src="https://cdn.pagefly.io/pagefly/2.12.0/core/helper.js?t=20200615150603" defer></script>